out
dist
node_modules
.vscode-test/
*.vsix
testarea/coverage
testarea/reports/*.json
testarea/reports/npm.finish
testarea/**/package-lock.json
testarea/.vscode/settings.json
testarea/**/test.playwright.config.js
